@{
    ViewData["Title"] = "Home Page";
}



<div id="stage">
    <div class="title">
        <h1>Welcome to the Mixer's Vodka Club Bartender App!</h1>
        <br>
        <h2>Are you a...</h2>

        <div><h3><a asp-area="" asp-controller="DrinkInv" asp-action="Index">Customer?</a></h3></div>
        <div><h3><a asp-area="" asp-controller="drinkOrds" asp-action="Index">Bartender?</a></h3></div>




    </div>

</div>